<footer>
    <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container-fluid">
            <div class="col text-center">
                <p class="copyright text-muted">
                    <%- theme.footer_content %>
                </p>
            </div>
        </div>
    </div>
</footer>
